<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TRModularCameraView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3649745D1DA69C9C0040B3F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364974711DA69C9C0040B3F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3649747C1DA69C9C0040B3F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
